.filter button {
  height: 100%;
  border: none;
  background-color: white;
  outline: none;
  display: block;
}

.mkt_num {
  width: 110px;
  height: 64px;
  background: #ffffff;
  border: 1.5px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 8px;
}

.generation .input-group-text {
  padding-top: 0px !important;
  background-color: #f5f5f5 !important;
  border: none !important;
  outline: none !important;
}

.generation .form-control::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px !important;
  color: #6b6b6b !important;
}

.input-group-text {
  background-color: white !important;
  border: none !important;
  outline: none !important;
}

.input-group {
  border: 1.5px solid #cdcdcd !important;
  box-sizing: border-box;
  outline: none !important;
  border-radius: 8px;
}

.form-control {
  height: 64px;
  border: none !important;
  outline: none !important;
  border-bottom: 1.5px solid #cdcdcd !important;
}

.input-group .form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.inner_search {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #9f9f9f;
}

.form-control::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2a2825;
}
.input-group-append,
.input-group-prepend {
  display: flex;
  align-items: center;
}
.input-group input {
  border: none !important;
}
.input-group-append a {
  margin: 0 10px;
  text-decoration: none;
}
@media (max-width: 575px) {
  .input-group-append a {
    margin: 0 4px;
    text-decoration: none;
    font-size: 13px;
  }
  .form-control {
    padding: 0px;
  }
}
