.section_title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #2a2825;
}

.company_logo_box {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px !important;
}

.company_logo_box img {
  width: 100%;
}
@media (max-width: 992px) {
  .section_title {
    margin-bottom: 33px !important;
  }
  .company_logo_box img {
    width: 150px !important;
  }
  .company_logo_box {
    padding: 0px 10px !important;
  }
}
