.section-1 {
  background-image: url(../../../Assets/Section1-back.png);
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.section-1-img {
  width: 48%;
}

.heading {
  font-style: normal;
  font-weight: 500;
  font-size: 85px;
  margin-bottom: 20px;
  color: #2a2825;
}

.section-1-pera {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  margin-top: 10px !important;
  color: #2a2825;
}
.Button-sec .front_btn {
  width: 165px;
  height: 55px;
  background: #f59f19;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  transition: all 0.4s linear;
  font-size: 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #ffffff;
  border: none;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.Button-sec .front_btn p {
  z-index: 2;
  margin: 0;
}
.Button-sec .front_btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 0;
  transition: all 0.4s linear;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #0fc5b5;
}
.Button-sec .front_btn:hover::before {
  height: 100%;
}
@media (max-width: 992px) {
  .heading {
    text-align: center;
    font-size: 70px;
  }
  .section-1-pera {
    font-size: 40px;
  }
}
