.card_one {
  height: 350px;
  background-color: #d3e8ff;
  background: #d3e8ff;
  border-radius: 10px;
}
.card {
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
.card:hover {
  border: 1px solid rgba(128, 128, 128, 0.123);
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.123),
    -1px -1px 5px rgba(128, 128, 128, 0.123);
}
.card:hover .big_iimg img {
  animation: moving 1s ease-out infinite alternate;
}
.card_two {
  background-color: #c5eefa !important;
}

.card_img {
  height: 330px;
  background-color: #d3e8ff;
  border-radius: 5px;
  padding: 10px 10px;
}

.card_img > div:last-of-type img {
  width: 230px;
  margin: auto;
}

.card_info {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  border: none;
  line-height: 26px;
  color: #2a2825;
}
.last_text {
  color: #2a2825;
  font-weight: 700;
  font-size: 12px;
}
.dashed_line {
  border-bottom: 2px dashed rgba(0, 0, 0, 0.315);
}

.card_info_total {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ababab;
}

.card_info_total span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2a2825;
}

@media (max-width: 575px) {
  .card_img > div:last-of-type img {
  }
}
@keyframes moving {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(5px);
  }
}
