.timeline_header {
  width: 100%;
  height: 90px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
  background: #1c1b66;
  border-radius: 15px 15px 0px 0px;
}

.timeline_info {
  padding: 20px;
  height: 400px;
  border: 1px solid #dfdfdf;
  background-color: #fafafa;
}

.timeline_text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 227.5%;
  color: #82817d;
}

.timeline_info img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.brd_bottom {
  border-bottom: 2px dotted black;
}

.timeline_btn {
  width: 165px;
  height: 54px;
  background: #0fc5b5;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 4px solid #0fc5b5 !important;
  border: none;
  padding-top: 5px !important;
}
