.walletbtn {
  background-color: rgb(85, 4, 160);
  overflow: hidden;
  display: block;
  margin: auto;
}
.dropdown-menu {
  width: 250px !important;
}
.dropdown-menu p,
.dropdown-menu p a {
  color: rgb(86, 5, 161) !important;
}
.dropdown-menu button {
  width: 100%;
  border: 1px solid blueviolet;
  color: blueviolet;
  padding: 7px;
  border-radius: 5px;
  margin: 10px 0;
}
.dropdown-menu button:hover {
  transition: all 0.4s linear;
  color: white;
  background-color: blueviolet !important;
}
