.footer a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: 0 10px;
  line-height: 22px;
  color: #2a2825;
}

.footer a:hover {
  color: #e73b89 !important;
  text-decoration: none !important;
}

.facebook {
  width: 30px;
  height: 30px;
}

.discord {
  width: 42px;
  height: 33px;
}

@media (max-width: 600px) {
  .footer a {
    font-size: 15px !important;
    margin-bottom: 15px;
  }

  .footer a:hover {
    color: #e73b89 !important;
    text-decoration: none !important;
  }

  .discord {
    width: 30px !important;
    height: 30px !important;
  }

  .facebook {
    width: 25px !important;
    height: 25px !important;
  }
}

@media screen and (max-device-width: 375px), screen and (max-width: 375px) {
}

@media screen and (max-device-width: 320px), screen and (max-width: 320px) {
}
