.section-2 {
  position: relative;
  background-image: url(../../../Assets/section-2-back.png);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}
.section-2 .inside_box {
  background: #ffffff;
  border-radius: 10px;
  padding: 30px 5%;
}
.inner_box .elements {
  display: flex;
}
.inner_box .elements .element {
  margin-right: 10px;
}
.section-2 .inside_box .element > div:first-of-type {
  width: 73px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1c1b66;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
}
.section-2 .inside_box .element > div:last-of-type {
  font-size: 15px;
  text-align: center;
  margin-top: 5px;
}
.section-2 .inside_box .wolf_background {
  height: 400px;
  border-radius: 15px;
  background-color: #f59f19;
}
.section-2 .inside_box .inner_box {
  display: flex;
  align-items: center;
  height: 100%;
}
.section-2 .inside_box .count_heading p {
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  margin: 20px 0;
  color: #2a2825;
}
.section-2 .inside_box .count_pera p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #82817d;
  padding-right: 25px;
}
@media (max-width: 992px) {
  .inner_box .elements {
    justify-content: center;
  }
  .section-2 .inside_box {
    text-align: center;
  }
  .section-2 .inside_box .count_heading p {
  }
  .section-2 .inside_box .count_pera p {
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 20px;
    padding-right: 5px;
  }
  .section-2 .inside_box {
    padding: 8% 5%;
  }
}
