.SingleAnnemal img {
  width: 300px;
  display: block;
  margin: 0px auto 0;
}
.SingleAnnemal {
  padding: 20px 0px;
  overflow: hidden;
  background-color: rgb(241, 241, 241);
}
.SingleAnnemal .desc {
  color: grey;
  font-size: 14px;
}
.SingleAnnemal .outerbtn {
  position: absolute;
  top: 50%;
  display: block !important;
  left: 50%;
  transition: all 0.4s linear;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  color: rgba(0, 0, 0, 0.678);
  opacity: 0;
  text-shadow: 2px 2px 10px rgba(128, 128, 128, 0.37),
    -2px -2px 10px rgba(128, 128, 128, 0.288) !important;
  border: none;
}
.SingleAnnemal .outerbtn svg {
  color: rgba(0, 0, 0, 0.678) !important;
  display: inline-block;
}
.SingleAnnemal .img {
  position: relative;
  width: 100%;
}
.SingleAnnemal .fst_img {
  width: 120px;
}
.SingleAnnemal .fst_img img {
  width: 100%;
}
.SingleAnnemal .link_blank {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.SingleAnnemal .img:hover .outerbtn {
  opacity: 1;
}
.SingleAnnemal .wallet {
  box-sizing: border-box;
  border-radius: 10px;
}
.SingleAnnemal > div > div {
  padding: 20px;
  box-sizing: border-box !important;
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
  margin: 20px auto;
  background-color: white;
}
.SingleAnnemal .wallet button {
  width: 100%;
  border: none;
  background-color: rgb(93, 5, 175);
  color: white;
  padding: 10px;
  border-radius: 5px;
}
