body {
  margin: 0;
}
.notfound {
  width: 100%;
  height: 400px;
  text-align: center;
  position: relative;
}
.notfound > div {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.notfound > div h5 {
  color: grey;
}
a {
  text-decoration: none !important;
}
